*.gem
*.rbc
.bundle
.config
coverage
source
!source/index.md
build
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.yml
CHANGELOG.md
config.rb
CONTRIBUTING.md
Dockerfile
font-selection.js
Gemfile
Gemfile.lock
Rakefile
*.DS_STORE
.cache
script.sh
# YARD artifacts
.yardoc
_yardoc
doc/
.idea/